body {
    background-image: url(https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.item {
    position: absolute;
    background-color: rgb(240, 164, 102, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 30%;
    border-radius: 20px;
}


#i1 {
    left: 20%
}
#i2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#i3 {
    left: 80%
}

.item:hover {
    background-color: rgb(240, 164, 102, 1);
}